* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
}
#wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
input[type="text"] {
  width: 80px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  height: 30px;
  border-color: #3f3f40;
  border-radius: 4px;
  border-color: #1a1a1a;
}
input[type="text"]:focus {
  width: 20%;
}
.container {
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  margin-left: 14%;
  padding: 1%;
  overflow-y: auto;
  white-space: nowrap;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  /* text-align: center; */
}

button {
  margin: auto;
  text-align: center;
  margin-bottom: 1.8%;
  font-size: 3rem;
  background-color: #5b5b5c;
  color: whitesmoke;
  box-shadow: 3px 3px 4px gray;
  border-radius: 5px;
}
button:hover {
  transform: scale(1.02);
  filter: drop-shadow(0 0 10px #333);
  transition: 2s;
}
#sidebarToggle {
  display: none;
}
#sidebarToggle + label {
  position: absolute;
  top: 9%;
  left: 0.6%;
  cursor: pointer;
  color: #051424;
}
#sidebarToggle:checked + label + #sidebar {
  display: none;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  background-color: #9f9494;
  padding: 0.6%;
  box-sizing: border-box;
  z-index: 1000;
}
.navbar a {
  display: inline-block;
  padding: 0.6% 1.2%;
  margin-right: 5%;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  background-color: #5b5b5c;
  color: white;
}

.navbar a:hover {
  background-color: #2b353f;
  color: rgb(114, 111, 111);
  border-color: #266835;
}
.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.galleryImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: burlywood;
}
.Card {
  width: 32%;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.Card img {
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
  box-shadow: 0 0 2px #333;

  /* object-fit: cover; */
}
.Card:hover {
  transform: scale(1.03);
  filter: drop-shadow(0 0 10px #333);
  transition: 2s;
}
.Card:hover img {
  filter: grayscale(0%);
}
.Card figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  color: black;
  opacity: 0;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5, rgba(255, 255, 255, 0)));
  transition: 0.3s;
}
.Card:hover figcaption {
  opacity: 1;
  transform: scale(1.03);
}

.left-navbar {
  margin-top: 2.5%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  background-color: #333;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1000;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}
.left-navbar.hide {
  display: none;
}
.hidden {
  display: none;
}

.left-navbar a {
  display: block;
  padding: 10px 20px;
  margin-bottom: 5px;
  background-color: #5b5b5c;
  color: #fff;
  text-decoration: none;
  border: 1px solid #3f3f40;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.left-navbar a:hover {
  background-color: #2c3238;
  border-color: #93c0ef;
}

@media only screen and (max-width: 768px) {
  .Card {
    flex: 1 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 576px) {
  .Card {
    flex: 1 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}
@media only screen and (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
  @media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
  }

  .Card {
    width: 100%;
  }
}
